.PlayerUpperBar-BarBg {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 34, 77, 0.6);
    width: 360px;
    height: 65px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.PlayerUpperBar-BarBg button {
    margin: auto;
    width: 17px;
    height: 17px;

}

.PlayerUpperBar-Shuffle {
    background: url("./shuffle.png") no-repeat;
    border-radius: 0;
}

.PlayerUpperBar-Repeat {
    background: url("./repeat.png") no-repeat;
    border-radius: 0;
}

.PlayerUpperBar-Refresh {
    background: url("./refresh.png") no-repeat;
    border-radius: 0;
    height: 17px;
}

.PlayerUpperBar-Menu {
    background: none;
    border-radius: 0;
}