.PlayerSongList-SongListBody {
    margin: 0 auto;
    height: 480px ;
    width: 360px;
    border-radius: 25px;
    background-color: #f3f4f8;
}

.PlayerSongList-PlaylistTitle {
    width: 360px;
    height: 65px;
    display: flex;
    align-items: center;
}

.PlayerSongList-PlaylistBack {
    width: 17px;
    height: 17px;
    color: #60558f;
    background: url("./arrow.png") no-repeat;
}

.PlayerSongList-List {
    width: 280px;
    height: 370px;
    /*margin-left: 27px;*/

}

.PlayerSongList-Song {
    display: flex;
    width: 280px;
    height: 78px;
    margin-left: 27px;
}

.PlayerSongList-Divider {
    background-color: #d3d5de;
    width: 280px;
    height: 1px;
}

.PlayerSongList-Duration, .PlayerSongList-Artist {
    font-size: 8px;
    color: #88858f;
    margin-top: 25px ;
}

.PlayerSongList-Duration {
    left: 1px;
}

.PlayerSongList-Artist {
    left: 1px;
}

.PlayerSongList-Title {
    font-size: 12px;
    color: #2f1a4b;
    position: relative;
    top: 42px;
    left: 1px;
}

.PlayerSongList-Share {
    width: 13px;
    height: 13px;
    border: none;
    color: #60558f;
    background-color: #fff;
    position: relative;
    top: 33px;
    left: 240px;
    right: 12px;
}

.PlayerSongList-Like {
    color: #ed5e74;
    background-color: #ffffff;
    width: 13px;
    height: 13px;
    border: none;
    position: relative;
    top: 33px;
    left: 252px;
}

