.PlayerListTitleBar {
    margin: 0 auto;
    background-color: rgba(42, 34, 77, 0.6);
    width: 360px;
    height: 65px;
    position: relative;
    top: 208px;
}

.PlayerListTitleBar-SongAuthor {
    position: relative;
    font-size: 18px;
    color: #fff;
    top: 16px;
}

.PlayerListTitleBar-SongTitle {
    position: relative;
    top: 16px;
    font-size: 14px;
    color: #fff;
}